/* Add your CSS to this file */
body {
    margin: 0;
    font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 860px;
    align-items: center;
    justify-content: space-between;
}

.container li{
    display: inline; 
    
}
.container li a{
    color: #6b7280;
    text-decoration: none;
}

.container li a:hover{
    color: #5A67D8;
}

.overview-hero{
    display: flex;
    flex-direction: row;
    background-color: #E2E8F0;
    height: 200px;
    justify-content: center;
}

.overview-hero-image img{
    height: 150px;
    width: 150px;
    padding-right: 30px;
}

.overview-hero-text{
    font-size: 18px;
    width:500px;
}

.learn-about{
    height: 300px;
    padding: 8%;
    margin: 15px;
}

.learn-about .container{
    display: grid;
    grid-template-rows: 50px 150px;
}

.learn-about h3{
    color:#48BB78;
}
.learn-about h2{
    grid-row: 1;
    margin: 10px 20px;
    padding-bottom: 200px;
    font-size: 21px;
    color: #48BB78;
}
.cards{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.card{
    position: relative;
    border:1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px slategrey;
    margin: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    top: 50px;
}

.card img{
    height: 150px;
    width: 230px;
    padding: 10px;
}


.testing{
    height: 200px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4A5568;
}

.testing-desciption p{
    padding-top: 20px;
    padding-right: 20px;
    width: 73%;
    color: white;
}

.testing-desciption h2{
    color: white;
}

.testing a{
    text-transform:uppercase;
    text-decoration: none;
    color: white;
    background-color: #48BB78;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    margin-right: 20px;
    white-space: nowrap;
    
}

.stories{
    margin-top: 150px;
    margin-bottom: 150px;
}

.stories .container{
    display: flex;
   flex-direction: column;
   width: 600px;
}

.stories img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 50px;
}

.stories h2{
    position: relative;
    bottom: 50px;
    right: 200px;
    color: #5A67D8;
}

.stories h3{
    font-size: 18px;
}

.stories a{
    color: #5A67D8;
    text-decoration: none;
}

.stories p a{
    font-weight: bold;
}

.stories article{
    display: grid;
    grid-template-columns: 200px 500px;
}

.newsletter{
    padding: 4%;
    background-color: #48BB78;
    color: white;
}
.newsletter .container{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.newsletter .btn{
    background-color: #5A67D8;
    font-size: 18px;
    padding: 20px;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    border-style: none;

}

.newsletter .form-group{
    display: inline;
}

.form-group input[type="email"] {
    padding: 20px; 
    padding-left: 60px;
    font-size: 18px; 
    border-radius: 5px;
    border-style: none;
}

footer{
    background-color: #4A5568;
    color: white;
    padding: 20px;
}

/* ASK SIR ABOUT REMOVING THE COMP2245 NAME FROM THE PROJECT IN THE HEADER AND FOOTER*/